In [14]:
import pandas as pd
import numpy as np
import Bio
import encoding_tools as et

In [68]:
Seq1 = ['A','T','C','Y']
Seq2 = ['B','G','M','A','J']
Seq1.append('-')

In [83]:

ind = range(0,21)

# Comment the appropriate one

# cols = Seq1 # To display the acids in the dataframe
# cols = range(0,len(Seq2)) # To display the sequence position in the dataframe

In [63]:
my_dict = {'-':0, 'A':1,'C':2,'D':3,'E':4,'F':5,'G':6,'H':7,'I':8,'K':9,\
                'L':10,'M':11,'N':12,'P':13,'Q':14,'R':15,'S':16,'T':17,\
                'V':18,'W':19,'Y':20}
new_seq = []
for i in Seq1:
    new_seq.append(my_dict[i])

In [43]:
x = et.one_hot_seq('ATCY-')
x = (x.T).astype(int)

In [78]:
ind

range(0, 21)

In [80]:
df = pd.DataFrame(x,columns=cols, index=ind)

In [81]:
df

    A  T  C  Y  -
0   0  0  0  0  1
1   1  0  0  0  0
2   0  0  1  0  0
3   0  0  0  0  0
4   0  0  0  0  0
5   0  0  0  0  0
6   0  0  0  0  0
7   0  0  0  0  0
8   0  0  0  0  0
9   0  0  0  0  0
10  0  0  0  0  0
11  0  0  0  0  0
12  0  0  0  0  0
13  0  0  0  0  0
14  0  0  0  0  0
15  0  0  0  0  0
16  0  0  0  0  0
17  0  1  0  0  0
18  0  0  0  0  0
19  0  0  0  0  0
20  0  0  0  1  0